@charset "UTF-8";


* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}

.wrapper {
    max-width: 620px;
    margin: 0 auto;
    padding: 10px;
}

header {
    height: 100px;
    align-items: center;
}

.logotype {
    width: 30.5%;
}

header input {
    transform: translateX(50%);
    text-align: center;
    letter-spacing: 2px;
    width: 30%;
    padding: 7px;
    border: none;
    background-color: #F1EEEE;
    border-radius: 20px;
    background-image: url(../images/search.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 20px;
    background-position-x: 10px;
    text-decoration-line: none;
}


header input:focus {
    outline: none;
}

.top-nav {
    margin: 20px 5px;
}
.top-nav ul {
    width: 100%;
}

.top-nav ul li {
    width: 18%;
    text-align: center;
}

.top-nav ul li a {
    display: block;
    color: black;
    font-size: 18px;
}

.glonav {
    position: relative;
}


.glonav a#join, a#login {
    font-family: 'Kiwi Maru', serif;
    display: block;
    width: 130px;
    height: 35px;
    font-size: 20px;
    text-align: center;
    color: black;
    border: none;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 0 6px #06e5f92e;
}

.glonav #login {
    z-index: 3;
    position: absolute;
    top: 65px;
    left: 50%;
    transform: translate(-50%, 0);
}

.glonav #join {
    z-index: 3;
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translate(-50%, 0);
}

.glonav h2 {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 24px;
}

.glonav ul {
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 20px;
}

.glonav ul li a {
    display: block;
    color: black;
    line-height: 40px;
}

.glonav p.logosymbol {
    width: 45%;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0);
}



main div.slider-wrap img{
    width: 100%;
    border-radius: 10px;
}

main div.main_only, 
div.best_item h2, 
div.new_item h2, 
div.new_brand h2 {
    width: 100%;
    text-align: center;
}

main div.main_only p, div.new_brand p {
    font-family: 'Kiwi Maru', serif;
    font-size: 15px;
    margin-top: 120px;

}

main div.main_only h2, 
div.best_item h2, 
div.new_item h2, 
div.new_brand h2 {
    font-size: 40px;
    font-weight: 200;
    margin-bottom: 30px;
}

.center {
    width: 100%;
}

.center div a img {
    width: 90%;
    border-radius: 5px;
}

.btn {
    margin: 30px auto;
    width: 25%;
    background-color: white;
    border: 1px solid #FF00A2;
    border-radius: 20px;
}

div.best_item {
    margin-top: 120px;
}

.mid-nav ul {
    width: 100%;
    margin-bottom: 30px;
}

.mid-nav ul li {
    width: 13%;
    text-align: center;
    background-color: #F1EEEE;
    border-radius: 20px;
    padding: 11px 2px;
    transition-duration: 0.5;
}

.mid-nav ul li a {
    display: block;
    color: black;
    font-size: 15px;
}

.mid-nav ul li:hover {
    background-color: #D1FBFF;
}

div.number1 {
    width: 30%;
}

div.number1 img{
    width: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

div.number2 {
    width: calc(100% - 210px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

div.number2 img {
    width: 46%;
    border-radius: 5px;
}


div.new_item h2 {
    margin-top: 120px;
}


div.new_item img {
    width: 100%;
    margin-bottom: 30px;
    border-radius: 5px;
}

div.new_brand p {
    font-family: 'Kiwi Maru', serif;
    font-size: 15px;
    text-align: center;
    margin-top: 90px;
}

div.new_brand {
    width: 100%;
}

div.new_brand img {
    width: 98%;
    margin-right: 10px;
    border-radius: 5px;
}

div.lower div.logo {
    width: 30%;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 70px;
}

.customer {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    line-height: 35px;
}

.customer p, .sns p {
    color: #06E3F9;
    font-size: 18px;
    font-weight: 200;
}

.customer h2 {
    font-size: 30px;
    font-weight: 200;
}

.sns {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    line-height: 35px;
}

/* product.html */

article {
    width: 80%;
    margin: 30px auto;
    position: relative;
}


article h1 {
    width: 100%;
    font-size: 20px;
}

article p {
    font-size: 32px;
    color: #FF00A2;
}

article p span {
    font-size: 15px;
    color: gray;
}

.icon {
    width: 5%;
}


.heart1 {
    width: 50%;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    opacity: 0;
}

.cart {
    margin: 20px 0;
    width: 100%;
    font-size: 18px;
    text-align: center;
    border-radius: 5px;
    background-color: #FF00A2;
    padding: 10px;
}

.cart a {
    display: block;
    color: white;

}

.shipping {
    width: 100%;
    padding: 20px 0;
}

.shipping li {
    font-size: 15px;
    color: gray;
    padding-left: 30px;
    margin-bottom: 10px;
}

.shipping li:last-child {
    margin-bottom: 0;
}

.icon01 {
    background-image: url("../images/icon.svg");
    background-repeat: no-repeat;
    background-size: 25px;
}

.icon02 {
    background-image: url("../images/icon2.svg");
    background-repeat: no-repeat;
    background-size: 25px;
}

footer {
    margin-top: 70px;
    width: 100%;
    background-color: #BBF5FB;
}

footer p {
    font-size: 12px;
    padding: 20px;
}

footer p a {
    color: black;
}

.btn a {
    padding: 5px;
    display: block;
    font-family: 'Kiwi Maru', serif;
    color: #FF00A2;
    font-size: 12px;
    text-align: center;
}

div.formContainer {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.formContainer h2 {
    font-family: 'Kiwi Maru', serif;
    font-size: 28px;
    text-align: center;
}

div.formContainer form{
    background-color:#D1FBFF;
    width: 70%;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px -5px #e7e8e8;
}

.uiForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 270px;
}

.formField {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.formField input {
    border: 1px solid lightblue;
    padding: 10px;
    border-radius: 5px;
}

.formField input:focus {
    outline: none;
}

.formField label {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 3px;
}

.formField2 {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    width: 100%;
}

.formField2 a {
    color: #FF00A2;
    width: 50%;
    text-align: center;
    font-size: 12px;
}

.submitBtn {
    background-color: white;
    width: 100%;
    margin-top: 10px;
    border: 1px solid lightblue;
    border-radius: 5px;
    padding: 10px 30px;
    color: #FF00A2;
    font-size: 15px;
    cursor: pointer;
}



@media screen and (max-width: 450px) {

    header input {
        display: none;
    }

    .top-nav {
        margin: 10px 0;
    }
    
    .top-nav ul {
        flex-wrap: wrap;
    }

    .top-nav ul li {
        width: 32%;
        padding: 10px;
    }

    main div.main_only h2, 
    div.best_item h2, 
    div.new_item h2, 
    div.new_brand h2 {
        font-size: 24px;
        margin-bottom: 30px;
        }

    main div.main_only p, 
    div.new_brand p {
        font-size: 12px;
        margin-top: 60px;
    }

    div.main_only div.slider div img {
        width: 90%;
    }

    div.best_item {
        margin-top: 60px;
    }

    div.number1 {
        display: none;
    }

    div.number2 {
        width: 100%;
    }

    div.number2 img {
        width: 50%;
        padding: 10px;
        border-radius: 5px;
    }

    div.new_item img{
        margin-bottom: 10px;
    }

    div.new_item h2 {
        margin-top: 60px;
    }

    .customer p, .sns p {
        font-size: 14px;
    }

    .customer h2{
        font-size: 20px;
    }

    div.lower div.logo{
        margin-top: 50px;
        margin-bottom: 30px;
    }

    footer {
        margin-top: 50px;
    }

    div.formContainer form {
        width: 90%;
    }
}

